// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// font sizes
$text-xxxl:250px;
$text-xxl:60px;
$text-xl: 50px;
$text-lg:34px;
$text-md:30px;
$text-mini:20px;
$text-p: 16px;
$text-btn: 13px;
$text-sm:12px;


// colors
$color-primary:rgba(0, 0, 0, 0.8);
$color-title:#f0f0f0;
$color-link: #ca82f8;


//background colors
$bg-main:#fafafa;


// button colors
$btn-bg-color: #ca82f8;