// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.btn-subscribe {
    width: 100%;
    margin: 0 4px 4px 0;
    padding: 14px 0;
    border-radius: 30px;
    outline: none;
    border: none;
    background-color: $btn-bg-color;
    letter-spacing: 2px;
    color: white;
    font-family: "Karla";
    font-size: $text-btn;
  }

  .btn{
    width: max-content;
    text-transform: uppercase;
    margin: 0 4px 4px 0;
    padding: 8px 20px;
    outline: none;
    border: 1px solid #4d4d4d5f;
    background-color: transparent;
    letter-spacing: 2px;
    color: $color-primary;
    font-family: "Karla";
    font-size: $text-btn;
  }